.mobile-drawer {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background-color: #343a40;
  color: white;
  padding: 1rem;
  transition: right 0.3s ease-in-out;
  z-index: 1050;
}

.mobile-drawer.open {
  right: 0;
}

.drawer-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1040;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hover-underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #6c757d;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #dc3545;
    transition: width 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100%;
  }
  :hover {
    color: #dc3545;
  }
  .active {
    color: #dc3545;
  }
}
.text-white {
  color: #ffffff !important;
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: contain;
  height: 500px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 550px;
  background-image: url("../../assets/img.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  min-width: 30%;
  font-size: 1.5rem;

  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #fff;
  }

  p {
    color: #f1f1f1;
    cursor: pointer;
  }
}
